/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

/* Element Selectors */
body {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 20px;
    background-color: #d4d4d4;
    color: #454545 ;
}

body p {
    margin: 5px;
}

/* Header styling */
header, footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #949494;
}

header {
    position: fixed;
    border-bottom: 10px solid#ffb3ff;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: #ffb3ff;
    font-size: 20px;
}

/* Main section styling */
main {
    padding: 60px 0;
}

h1, h2 {
    margin: 20px;
}

figure {
    margin-bottom: 40px;
}

img {
    display: block;
    margin: 20px auto 0;
    width: 400px;
}

a {
    font-size: smaller;
    text-decoration: none;
    color: #454545;
}

/* Contact form styling */
section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid#ffb3ff;
    background-color: #ffb3ff;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid#949494;
    border-radius: 20px;
}

label {
    display: inline-block;
    width: 60px;
}

input {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid#949494;
}

button {
    margin-top: 5px;
    height: 40px;
    width: 120px;
    background-color: #454545;
    color: #ffb3ff;
}

/* Footer styling */
footer {
    position: relative;
    bottom: 0;
    border-bottom: 10px solid#ffb3ff;
    color: #454545;
}

/* Class Selector allowing all text sections except Header to be aligned in the center*/
.text-center {
    text-align: center;
}

/* Class Selector allowing just the header text to be aligned to the right */
.text-right {
    text-align: right;
}